/*-- scss:defaults --*/
$code-color: #bb8acf;

// colors
$lavender: #B4AAE9;
$purple: #5D4EF5;
$blueviolet: #5362C4;
$cyan: #9BDCEF;
$cyano: #41A4DC;
$dark: #222222;
$arxiv: #B31B1B;
$body-bg: #F8F8F3 !default;
$body-color: #0F1419 !default;
$link-color: #5362C4 !default;
$selection-bg: #B4AAE9 !default;
$bg-primary: $cyano !default;
$primary: $cyano !default;
$bg-danger: $arxiv !default;

/*-- scss:rules --*/
.dark-mode { display: none; }
.light-mode { display: block; }

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a.more {
    color: $body-color;
    font-weight: bold;
}

a.cvpage {
    color: $bg-primary;
    font-weight: bold;
    // font-style: italic;
}